@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
   /* PC */
   @media (min-width: 64em) {

   }
   
   /* Tablet & Mobile */
   @media (max-width: 63.9375em) {
   }
   
   /* Tablet */
   @media (min-width: 46.25em) and (max-width: 63.9375em) {
 
   }
   /* Mobile */
   @media (max-width: 46.1875em) {
    #main{
        width: 100vw;
    }
    #main p{
        font-family: 'Roboto Mono', 'Courier New',Consolas, monospace;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    #main a{
        margin-bottom: 2rem;
    }
    .sub-content{
        font-size: 1.2rem;
    }
    .parallax-image{
        background-size: cover;
    }
    .sub-content p{
        font-size: 1rem;
        line-height: normal;
        width: 100%;
    }
   }