@font-face {
  font-family: "UTM Yves KT_Bold_Italic";
   src: url("../font/UTM\ Zirkon.ttf") ;
}
@font-face {
  font-family: "UTM Azuki";
   src: url("../font/UTM\ Silk\ Script.ttf") ;
}
@font-face {
  font-family: "UTM Swashes";
  src: url("../font/UTM\ Beautiful\ Caps.ttf") ;
}
/*PC*/
@media (min-width: 46.1875em) {
body {
  height: 100vh;

  width: 100%;
  background: white ;
  }
